/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
    font-family: Migra; 
    src: url('Migra-Extralight.otf');
}
@font-face {
    font-family: PPTalisman;
    src: url(PPTalisman-Compressed-Medium.otf);
}
body {
  color: white;
}
a {
  color: white;
  text-decoration: none;
  text-transform: none;
}
h1 {
  font-family: "PPTalisman",sans-serif;
  font-size: 164px;
  font-weight: 600;
  letter-spacing: -2%;
  color: #f5eee6;
  font-feature-settings: "lnum";
}
h2 {
  font-family: "Migra", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f5eee6;
  font-size: 36px;
  font-feature-settings: "lnum";
}
p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 24px;
  font-feature-settings: "lnum";
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #1bac91;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #21cfaf;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: transparent;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;  
  padding: 24px 20px;
  transition: background 0.3s ease;
}
#header .logo h1 {
    font-size: 24px;
    font-weight: 500;
    font-family: "Migra", sans-serif;
    font-style: normal;
    padding: 8px 8px;

}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  margin-top:-10px;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}
.navbar a i, .navbar a:focus i {
  font-size: 16px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 3px;
  left: 0;
  background-color: white;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 100%;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #fff;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  margin: 0;
  padding: 8px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background-color: #131313;
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 8px 16px;
  font-size: 16px;
  text-transform: none;
  font-weight: 500;
  color: #062822;
}
.navbar .dropdown ul a i {
  font-size: 16px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #f5eee6;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
    margin-top: 16px;

  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #131313;
  transition: 0.3s;
  z-index: 0;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top:16px;
  right:16px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 32px;
  right: 16px;
  bottom: 16px;
  left: 16px;
  padding: 16px 0;
  background-color: #131313;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile > ul > li + li {
  margin: 0;
}
.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
  visibility: hidden;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 16px 16px;
  font-size: 16px;
  color: white;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #f5eee6;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 8px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 8px 16px;
  padding: 8px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 8px 8px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 16px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #f5eee6;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh);
  background: url("img/hero-bg.jpg") center center;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  z-index: 1;
}
#hero .uppercase {
    text-transform: uppercase;
}
#hero .symbol{
    font-family: "Migra", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 36px;
    display: block;
    position: absolute;
}
#hero .split {
    display: inline;
}
#hero h1 {
    font-family: "PPTalisman",sans-serif;
    font-size: 164px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #f5eee6;
    display: block;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#hero h2 {
    font-family: "Migra", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f5eee6;
    font-size: 36px;
    display: block;
    position: absolute;
}
#hero h3 {
  font-family: "PPTalisman",sans-serif;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -2%;
  color: #f5eee6;
}
#hero p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 24px;
}
#hero ul li {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 24px;
}
#hero .btn-contact {
    font-size:16px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50px;
    border: 1px solid #fff;
    color: #fff;
    width: auto; 
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#hero .btn-contact:hover {
    border: 1px solid #fff;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    background: rgba(255, 255, 255, 0.25);
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #hero {
    height: calc(100vh);
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-family: "PPTalisman",sans-serif;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #f5eee6;
    display: block;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  #hero h2 {
    font-family: "Migra", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f5eee6;
    font-size: 24px;
    display: block;
    position: absolute;
  }
  #hero h3 {
    font-family: "PPTalisman",sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #f5eee6;
  }
  #hero p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 16px;
    line-height: 1.5rem;
  }
  #hero ul li {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 16px;
    line-height: 1.5rem;
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #131313;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f7f7f7;
  min-height: 40px;
  margin-top: 72px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 60px;
  }
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

#about h1 {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    padding-bottom: 8px;
}
#about h2 {
    font-family: "PPTalisman",sans-serif;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -2%;
    color: white;
}
#about p{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 18px;
}
#about .uppercase {
    text-transform: uppercase;
}
#about .btn-contact {
    font-size:16px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50px;
    border: 1px solid #fff;
    color: #fff;
    width: auto; 
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#about .btn-contact:hover {
    border: 1px solid #fff;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    background: rgba(255, 255, 255, 0.25);
}
@media (max-width: 768px) {
    #about h1 {
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        color: white;
        padding-bottom: 8px;
    }
    #about h2 {
        font-family: "PPTalisman",sans-serif;
        font-size: 42px;
        font-weight: 600;
        letter-spacing: -2%;
        color: white;
    }
    #about h3 {
        font-size: 16px;
        color: white;
    }
}

#about-header {
  width: 100%;
  height: calc(90vh);
  background: white;
  background-size: cover;
  position: relative;
  margin-top: 50px;
}

@media (max-width: 768px) {
    #about {
        padding: 32px 20px;
    }
    #about h1 {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        color: white;
        padding-bottom: 8px;
    }
    #about h2 {
        font-family: "PPTalisman",sans-serif;
        font-size: 48px;
        font-weight: 600;
        letter-spacing: -2%;
        color: white;
    }
    #about h3 {
        font-size: 16px;
        color: white;
    }
    #about p {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        font-size: 16px;
        line-height: 1.5rem;
    }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio h1 {
  font-family: "Migra", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f5eee6;
  font-size: 32px;
}
#portfolio h2 {
  font-family: "PPTalisman",sans-serif;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -2%;
  color: white;
}
#portfolio h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 18px;
}
#portfolio p{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 24px;
}
@media (max-width: 768px) {
  #portfolio h1 {
    font-family: "Migra", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f5eee6;
    font-size: 24px;
  }
  #portfolio h2 {
      font-family: "PPTalisman",sans-serif;
      font-size: 42px;
      font-weight: 600;
      letter-spacing: -2%;
      color: white;
  }
  #portfolio h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 16px;
    line-height: 1.5rem;
  }
}

/*--------------------------------------------------------------
# Virtual Vendors
--------------------------------------------------------------*/

#virtualvendors-hero{
  width: 100%;
  height: calc(100vh);
  background: url("img/project/VirtualVendors/VirtualVendorsHeader.jpg") center center;
  background-size: cover;
  position: relative;
  z-index: -2;
}
#virtualvendors-hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
#virtualvendors-hero .uppercase {
  text-transform: uppercase;
}
#virtualvendors-hero h1 {
  font-family: "PPTalisman",sans-serif;
  font-size: 104px;
  font-weight: 600;
  letter-spacing: -2%;
  color: white;
}
#virtualvendors-hero h2 {
  font-family: "Migra", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 28px;
}
#virtualvendors-hero h3 {
  font-family: "PPTalisman",sans-serif;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: -2%;
  color: #f5eee6;
}
@media (max-width: 768px) {
  #virtualvendors-hero  h1 {
    font-family: "PPTalisman",sans-serif;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -2%;
    color: white;
  }
  #virtualvendors-hero h2 {
    font-family: "Migra", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 24px;
  }
  #virtualvendors-hero h3 {
    font-family: "PPTalisman",sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #f5eee6;
  }
}
#virtualvendors-hero .container {
  padding: 0 10% 0 10%;
}

@media (max-width: 992px) {
  #virtualvendors-hero .container {
    padding: 0 5% 0 5%;
  }
}
#virtualvendors-hero .btn {
  font-size:16px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 50px;
  border: 1px solid #fff;
  color: #fff;
  width: auto; 
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-offset: 0px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#virtualvendors-hero .btn:hover {
  border: 1px solid #fff;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  background: rgba(255, 255, 255, 0.25);
}
#virtualvendors .section-bg {
  background-color: #131313;
}
#virtualvendors h1 {
  font-family: "PPTalisman",sans-serif;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -2%;
  color: #f5eee6;
}
#virtualvendors h2 {
  font-family: "Migra", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f5eee6;
  font-size: 28px;
}
#virtualvendors h3 {
  font-family: "PPTalisman",sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -2%;
  color: #f5eee6;
}
#virtualvendors p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 18px;
  line-height: 1.5em;
}
#virtualvendors ul li {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 18px;
  line-height: 1.75rem;
}
@media (min-width: 1024px) {
  #virtualvendors {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #virtualvendors  h1 {
    font-family: "PPTalisman",sans-serif;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #f5eee6;
  }
  #virtualvendors h2 {
    font-family: "Migra", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f5eee6;
    font-size: 24px;
  }
  #virtualvendors h3 {
    font-family: "PPTalisman",sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #f5eee6;
  }
  #virtualvendors p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 16px;
    line-height: 1.5rem;
  }
  #virtualvendors ul li {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 16px;
    line-height: 1.5rem;
  }
}
#virtualvendors .container {
  padding: 0 10% 0 10%;
}

@media (max-width: 992px) {
  #virtualvendors .container {
    padding: 0 5% 0 5%;
  }
}

/*--------------------------------------------------------------
# Afterschool
--------------------------------------------------------------*/

#afterschool-hero{
  width: 100%;
  height: calc(100vh);
  background: url("img/project/AfterSchool/AfterSchoolHeader.jpg") center center;
  background-size: cover;
  position: relative;
  z-index: -2;
}
#afterschool-hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
#afterschool-hero .uppercase {
  text-transform: uppercase;
}
#afterschool-hero h1 {
  font-family: "PPTalisman",sans-serif;
  font-size: 104px;
  font-weight: 600;
  letter-spacing: -2%;
  color: white;
}
#afterschool-hero h2 {
  font-family: "Migra", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 28px;
}
#afterschool-hero h3 {
  font-family: "PPTalisman",sans-serif;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: -2%;
  color: #f5eee6;
}
@media (max-width: 768px) {
  #afterschool-hero  h1 {
    font-family: "PPTalisman",sans-serif;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -2%;
    color: white;
  }
  #afterschool-hero h2 {
    font-family: "Migra", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 24px;
  }
  #afterschool-hero h3 {
    font-family: "PPTalisman",sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #f5eee6;
  }
}
#afterschool-hero .container {
  padding: 0 10% 0 10%;
}

@media (max-width: 992px) {
  #afterschool-hero .container {
    padding: 0 5% 0 5%;
  }
}
#afterschool-hero .btn {
  font-size:16px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 50px;
  border: 1px solid #fff;
  color: #fff;
  width: auto; 
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-offset: 0px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#afterschool-hero .btn:hover {
  border: 1px solid #fff;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  background: rgba(255, 255, 255, 0.25);
}
#afterschool .section-bg {
  background-color: #131313;
}
#afterschool h1 {
  font-family: "PPTalisman",sans-serif;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -2%;
  color: #f5eee6;
}
#afterschool h2 {
  font-family: "Migra", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f5eee6;
  font-size: 28px;
}
#afterschool h3 {
  font-family: "PPTalisman",sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -2%;
  color: #f5eee6;
}
#afterschool p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 18px;
  line-height: 1.5em;
}
#afterschool ul li {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 18px;
  line-height: 1.75rem;
}
@media (min-width: 1024px) {
  #afterschool {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #afterschool  h1 {
    font-family: "PPTalisman",sans-serif;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #f5eee6;
  }
  #afterschool h2 {
    font-family: "Migra", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f5eee6;
    font-size: 24px;
  }
  #afterschool h3 {
    font-family: "PPTalisman",sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #f5eee6;
  }
  #afterschool p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 16px;
    line-height: 1.5rem;
  }
  #afterschool ul li {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 16px;
    line-height: 1.5rem;
  }
}
#afterschool .container {
  padding: 0 10% 0 10%;
}

@media (max-width: 992px) {
  #afterschool .container {
    padding: 0 5% 0 5%;
  }
}

/*--------------------------------------------------------------
# Zumper
--------------------------------------------------------------*/

#zumper-hero{
  width: 100%;
  height: calc(100vh);
  background: url("img/project/Zumper/ZumperHeader.jpg") center center;
  background-size: cover;
  position: relative;
  z-index: -2;
}
#zumper-hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
#zumper-hero .uppercase {
  text-transform: uppercase;
}
#zumper-hero h1 {
  font-family: "PPTalisman",sans-serif;
  font-size: 104px;
  font-weight: 600;
  letter-spacing: -2%;
  color: white;
}
#zumper-hero h2 {
  font-family: "Migra", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 28px;
}
#zumper-hero h3 {
  font-family: "PPTalisman",sans-serif;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: -2%;
  color: #f5eee6;
}
@media (max-width: 768px) {
  #zumper-hero  h1 {
    font-family: "PPTalisman",sans-serif;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -2%;
    color: white;
  }
  #zumper-hero h2 {
    font-family: "Migra", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 24px;
  }
  #zumper-hero h3 {
    font-family: "PPTalisman",sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #f5eee6;
  }
}
#zumper-hero .container {
  padding: 0 10% 0 10%;
}

@media (max-width: 992px) {
  #zumper-hero .container {
    padding: 0 5% 0 5%;
  }
}
#zumper .section-bg {
  background-color: #131313;
}
#zumper h1 {
  font-family: "PPTalisman",sans-serif;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -2%;
  color: #f5eee6;
}
#zumper h2 {
  font-family: "Migra", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f5eee6;
  font-size: 28px;
}
#zumper h3 {
  font-family: "Migra", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f5eee6;
  font-size: 28px;
}
#zumper p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 18px;
  line-height: 1.5em;
  font-feature-settings: "lnum";
}
@media (min-width: 1024px) {
  #zumper {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #zumper  h1 {
    font-family: "PPTalisman",sans-serif;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #f5eee6;
  }
  #zumper h2 {
    font-family: "Migra", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f5eee6;
    font-size: 24px;
  }
  #zumper h3 {
    font-family: "PPTalisman",sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #f5eee6;
  }
  #zumper p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 16px;
    line-height: 1.5rem;
    font-feature-settings: "lnum";
  }
}
#zumper .container {
  padding: 0 10% 0 10%;
}

@media (max-width: 992px) {
  #zumper .container {
    padding: 0 5% 0 5%;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    width: 100%;
    height: calc(100vh);
    background: url("img/hero-bg.jpg") center center;
    background-size: cover;
    position: relative;
    padding: 0;
  }
#footer:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
#footer .container {
    z-index: 2;
  }

  #footer h1 {
    font-family: "PPTalisman",sans-serif;
    font-size: 164px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #f5eee6;
    display: block;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#footer h2 {
    font-family: "Migra", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f5eee6;
    font-size: 36px;
    display: block;
    position: absolute;
}
#footer p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 24px;
}
#footer .btn {
    color: #fff;
    cursor: pointer;
    font-size:16px;
    font-weight: 400;
    margin: 0 .25em .5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
    width: auto; 
    display: inline-block;
    padding: 8px 16px;
}
#footer .btn-interests {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#footer .btn-interests:hover {
    border: 1px solid #fff;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    background: rgba(255, 255, 255, 0.25);
}

@media (max-width: 768px) {
    #footer h1 {
      font-family: "PPTalisman",sans-serif;
      font-size: 64px;
      font-weight: 600;
      letter-spacing: -2%;
      color: #f5eee6;
      display: block;
      margin-block-start: 0.1em;
      margin-block-end: 0.1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    #footer p {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: white;
      font-size: 16px;
      line-height: 1.5rem;
    }
  }